<p>Let the Celebrations Begin!!</p>
<div class="container custom-container-2">
  <h2>Displaying Music festivals for management :{{name}}</h2>
  <div class="no-data text-center" *ngIf="labels.length == 0">
    <p>There is no festivals added yet!</p>
  </div>

  <div *ngIf="labels.length !== 0">
    <h3 class="mb-3 text-center">Festival List</h3>

    <div class="col-md-12">
      <table class=".table-dark table-bordered">
        <thead>
          <tr>
            <th scope="col">Owner</th>
            <th scope="col">Contact</th>
            <th scope="col">Band Details</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let mlabel of labels"> 
            <td>{{mlabel.labelOwner}}</td>
            <td>{{mlabel.labelContact}}</td>
            <td>
          <tr *ngFor="let band of mlabel.bands">
            <td>{{band.bandName}}</td>
            <td>
          <!-- <tr *ngFor="let bandMember of band.bandMembers">
            <td>{{bandMember.name}}</td>
          </tr> -->
          </td>
          <td>
            <tr *ngFor="let festival of band.festivals">
              <td>{{festival.festivalName}}</td>
            </tr>
          </td>
          </tr>
          </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>